#!/bin/bash
#
#	* File     : natmap_callback.config
#	* Author   : sunowsir
#	* Mail     : sunowsir@163.com
#	* Github   : github.com/sunowsir
#	* Creation : Fri 20 Dec 2024 04:02:21 PM CST

# 教程: https://blog.dibin.eu.org/posts/%E5%9C%A8NAT-1%E5%86%85%E7%BD%91IP%E5%AE%BD%E5%B8%A6%E4%B8%8A%E9%83%A8%E7%BD%B2Web%E6%9C%8D%E5%8A%A1%E5%B9%B6%E4%BD%BF%E7%94%A8Cloudflare%E8%BF%9B%E8%A1%8C%E9%87%8D%E5%AE%9A%E5%90%91/

ZONE="$(uci get natmap_callback.cloudflare.ZONE)"

AUTH="$(uci get natmap_callback.cloudflare.AUTH)"

EMAIL="$(uci get natmap_callback.cloudflare.EMAIL)"

RULE="$(uci get natmap_callback.cloudflare.RULE)"

CLOUDFLARE_API_URL="$(uci get natmap_callback.cloudflare.CLOUDFLARE_API_URL)/${ZONE}"

ROOT_DOMAIN="$(uci get natmap_callback.cloudflare.ROOT_DOMAIN)"

REDIRECT_DOMAIN="$(uci get natmap_callback.cloudflare.REDIRECT_SUBDOMAIN).${ROOT_DOMAIN}"

RETRY_NUM="$(uci get natmap_callback.cloudflare.RETRY_NUM)"

SENDKEY="$(uci get natmap_callback.cloudflare.SENDKEY)"

LOGS_SAVE_TIMES="$(uci get natmap_callback.cloudflare.LOGS_SAVE_TIMES)"

LOGS_SAVE_DIR="$(uci get natmap_callback.cloudflare.LOGS_SAVE_DIR)"

LOGS_FILENAME="$(uci get natmap_callback.cloudflare.LOGS_FILENAME)"


